{% extends 'home/base.html' %}

{% load static %}

{% block title %}Facilitation achat national et international{% endblock %}

{% block content %}


        <!-- Page Header Start -->
        <div class="container-fluid p-0" style="background-image: url({% static 'img/img7.jpg' %}); background-size: cover; margin-bottom: 6rem;;">
            <div style="padding: 100px 5%; background-color: rgba(0, 0, 0, 0.3);">
                <h3 class="text-white mb-4 px-2 py-3 text-center animated slideInDown">Achat en ligne</h3>
                <form method="post" class="wish-form">
                    {% csrf_token %}
                    <select name="who">
                        <option value="-----" disabled selected>Vous êtes</option>
                        <option value="particulier">Particulier</option>
                        <option value="entreprise">Entreprise</option>
                    </select>
                    <select name="wish">
                        <option value="-----" disabled selected>Vous voulez</option>
                        <option value="devis">Avoir un devis</option>
                        <option value="partenaire">Créer un compte partenaire</option>
                    </select>
                    <input type="text" placeholder="Localisation">
                    <button type="submit" class="bg-primary text-white">Votre solution</button>
                </form>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Blog Start -->
        <div class="container-fluid">
            <div class="container pb-5">
                <div class="row m-0">
                    <div class="col-lg-8 achat">
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-12">
                                <div class="overflow-hidden">
                                    <h3 class="mb-2">Plateformes de vente en ligne</h3>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 p-1 mb-2">
                                <img src="{% static 'img/alibaba.png' %}" alt="">
                            </div>
                            <div class="col-md-6 col-lg-4 p-1 mb-2">
                                <img src="{% static 'img/amazon.jpg' %}" alt="">
                            </div>
                            <div class="col-md-6 col-lg-4 p-1 mb-2">
                                <img src="{% static 'img/ebay.png' %}" alt="">
                            </div>
                        </div>


                        <form action="" method="post">
                            
                        </form>


                        <div class="row m-0 detail wow fadeInUp mt-5 mb-3" data-wow-delay=".6s">
                            <div class="col-12">
                                <div class="overflow-hidden">
                                    <h4 class="mb-2">Boutiques partenaires</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 p-1 mb-2">
                                <img src="{% static 'img/b1.jpeg' %}" alt="">
                            </div>
                            <div class="col-md-6 col-lg-4 p-1 mb-2">
                                <img src="{% static 'img/b2.jpeg' %}" alt="">
                            </div>
                            <div class="col-md-6 col-lg-4 p-1 mb-2">
                                <img src="{% static 'img/b3.jpeg' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside>
                            <form method="post">
                                <input type="text" name="immo-search" placeholder="Tapez votre recherche">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <ul class="list-group border-0">
                                <li class="list-group-item">Formulaire de soumission d’une demande d’achat en ligne avec spécifications détailles</li>
                                <li class="list-group-item">Formulaire de soumission d’une demande d’un service en ligne</li>
                                <li class="list-group-item">Recherche lie à la base de données pour trouver une plateforme d’achat en ligne et faire ses commandes</li>
                                <li class="list-group-item">Main d’œuvre [agent immobilier, expert, courtiers, etc.]</li>
                                <li class="list-group-item">Formulaire de soumission d’une Demande pour référencer sa boutique en ligne [uniquement pour les vendeurs]</li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

{% endblock %}