{% extends 'home/base.html' %}

{% load static %}

{% block title %}Ressources humaines, emploi et opportunités{% endblock %}

{% block content %}


        <!-- Page Header Start -->
        <div class="container-fluid py-5" style="background-image: url({% static 'img/img6.jpg' %}); background-size: cover; background-position: center; margin-bottom: 6rem;;">
            <div class="container text-center">
                <div class="d-flex justify-content-between">
                    <h3 class="text-white mb-4 px-2 py-5 animated slideInDown" style="background-color: rgba(0, 0, 0, .4);">Ressources Humaines, emploi et opportunités</h3>
                    <div></div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Blog Start -->
        <div class="container-fluid">
            <div class="container pb-5">
                <div class="row m-0 box">
                    <div class="col-lg-8 items">
                        <div class="d-flex title">
                            <h4 class="mb-"><a href="{% url 'home:emploi' %}" class="">Offres d'emploi</a></h4>
                            <h4 class="mb-2"><a href="{% url 'home:appel' %}" class="active">Appel d'offre</a></h4>
                        </div>
                        <hr class="mt-0">
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img4.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h5><a href="detail_emploi.html">Ingegneur IT</a></h5>
                                <p class="m-0 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nesciunt ex soluta dolores quas dolore, nam laboriosam doloribus fuga voluptates maiores harum repellendus libero quisquam mollitia sit exercitationem odit itaque.</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img1.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h5><a href="detail_emploi.html">Ingegneur IT</a></h5>
                                <p class="m-0 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nesciunt ex soluta dolores quas dolore, nam laboriosam doloribus fuga voluptates maiores harum repellendus libero quisquam mollitia sit exercitationem odit itaque.</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img3.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h5><a href="detail_emploi.html">Ingegneur IT</a></h5>
                                <p class="m-0 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nesciunt ex soluta dolores quas dolore, nam laboriosam doloribus fuga voluptates maiores harum repellendus libero quisquam mollitia sit exercitationem odit itaque.</p>
                            </div>
                        </div>
                        <hr class="my-2">
                    </div>
                    <div class="col-lg-4">
                        <aside>
                            <form method="post">
                                <input type="text" name="immo-search" placeholder="Tapez votre recherche">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <ul class="list-group border-0">
                                <li class="list-group-item">Formulaire de demande d’inscription à la plate-forme</li>
                                <li class="list-group-item">Espace d’opportunité d’emploi et appel d’offre</li>
                                <li class="list-group-item">Formulaire d’inscription à la base de données [de la main d’œuvre] ou de soumission d’un besoin en main d’œuvre</li>
                                <li class="list-group-item">Bouton de recherche lie à la base de données pour trouver une main d’œuvre</li>
                                <li class="list-group-item">Espace de formation des candidats</li>
                                <li class="list-group-item">Formulaire de soumission d’une formation [uniquement pour le formateur]</li>
                                <li class="list-group-item">Tableau de bord du candidat pour le suivi de son dossier d’emploi, de formation et d’opportunités</li>
                                <li class="list-group-item">Espace des candidats compètent [ main d’œuvre] avec leur profils</li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

{% endblock %}
