{% extends 'home/base.html' %}

{% load static %}

{% block title %}Ressources humaines, emploi et opportunités{% endblock %}

{% block content %}


        <!-- Page Header Start -->
        <div class="container-fluid p-0" style="background-image: url({% static 'img/img6.jpg' %}); background-size: cover; margin-bottom: 6rem;;">
            <div style="padding: 100px 5%; background-color: rgba(0, 0, 0, 0.3);">
                <h3 class="text-white mb-4 px-2 py-3 text-center animated slideInDown">Strata-Emploi</h3>
                <form method="post" class="wish-form">
                    {% csrf_token %}
                    <select name="who">
                        <option value="-----" disabled selected>Vous êtes</option>
                        <option value="particulier">Particulier</option>
                        <option value="entreprise">Entreprise</option>
                    </select>
                    <select name="wish">
                        <option value="-----" disabled selected>Vous voulez</option>
                        <option value="devis">Avoir un devis</option>
                        <option value="partenaire">Créer un compte partenaire</option>
                    </select>
                    <input type="text" placeholder="Localisation">
                    <button type="submit" class="bg-primary text-white">Votre solution</button>
                </form>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Blog Start -->
        <div class="container-fluid">
            <div class="container pb-5">
                <div class="row m-0 box">
                    <div class="col-lg-8 items">
                        <div class="d-flex title">
                            <h5 class="mb-"><a href="{% url 'home:emploi' %}" class="">Offres d'emploi</a></h5>
                            <h5 class="mb-2"><a href="{% url 'home:appel' %}" class="">Appel d'offre</a></h5>
                            <h5 class="mb-2"><a href="{% url 'home:assistance_emploi' %}" class="active">Assistance emploi</a></h5>
                        </div>
                        <hr class="mt-0">
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <p><strong>STRATA CONSULT</strong> fournit aux chercheurs d’emploi une gamme 
                                complète de services d’assistance spécialisés pour l’obtention d’un job, allant de l’analyse et préparation du 
                                dossier a l’encadrement et préparation des interviews.</p>
                            <p>Parmi les services spécialisés offerts par nos équipes, 
                                on compte :</p>
                            <ul>
                                <li>Analyse et classement des dossiers des candidats en besoin d’emploi</li>
                                <li>Recherche des offres correspondants au profil du candidat</li>
                                <li>Renforcement des capacités des candidats en insuffisances</li>
                                <li>Préparation du dossier et soumission des candidatures</li>
                                <li>Préparation et assistance aux tests d’embauche</li>
                                <li>Préparation aux l’interviews</li>
                                <li>Accompagnement professionnel des nouveaux recrutés</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside>
                            <form method="post">
                                <input type="text" name="immo-search" placeholder="Tapez votre recherche">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <ul class="list-group border-0">
                                <li class="list-group-item">Formulaire de demande d’inscription à la plate-forme</li>
                                <li class="list-group-item">Espace d’opportunité d’emploi et appel d’offre</li>
                                <li class="list-group-item">Formulaire d’inscription à la base de données [de la main d’œuvre] ou de soumission d’un besoin en main d’œuvre</li>
                                <li class="list-group-item">Bouton de recherche lie à la base de données pour trouver une main d’œuvre</li>
                                <li class="list-group-item">Espace de formation des candidats</li>
                                <li class="list-group-item">Formulaire de soumission d’une formation [uniquement pour le formateur]</li>
                                <li class="list-group-item">Tableau de bord du candidat pour le suivi de son dossier d’emploi, de formation et d’opportunités</li>
                                <li class="list-group-item">Espace des candidats compètent [ main d’œuvre] avec leur profils</li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

{% endblock %}
