{% extends 'home/base.html' %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
        
        <!-- Page Header Start -->
        <div class="container-fluid page-header py-5">
            <div class="container text-center py-5">
                <h3 class="text-white mb-4 p-2 animated slideInDown">Contact</h3>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Contact Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="row g-5 mb-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                        <div class="h-100">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001583.639214438!2d-78.4099249913019!3d42.71993723844549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1687175686342!5m2!1sen!2sbd" class="border-0 rounded w-100 h-100" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                        <form method="post" class="rounded contact-form">
                            <div class="mb-4">
                                <input type="text" class="form-control p-3" placeholder="Votre Nom" required>
                            </div>
                            <div class="mb-4">
                                <input type="email" class="form-control p-3" placeholder="Votre Email" required>
                            </div>
                            <div class="mb-4">
                                <input type="text" class="form-control p-3" placeholder="Subjet" required>
                            </div>
                            <div class="mb-4">
                                <textarea class="w-100 form-control p-3" rows="6" cols="10" placeholder="Message" required></textarea>
                            </div>
                            <button class="btn btn-primary border-0 py-3 px-4 rounded-pill" type="submit">Envoyer</button>
                        </form>
                    </div>
                </div>
                <div class="row g-4 wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="d-flex bg-light p-3 rounded contact-btn-link">
                            <div class="flex-shrink-0 d-flex align-items-center justify-content-center bg-primary rounded-circle p-3 ms-3" style="width: 64px; height: 64px;">
                                <i class="fa fa-share text-dark"></i>
                            </div>
                            <div class="ms-3 contact-link">
                                <h4 class="text-dark">Nous suivre</h4>
                                <div class="d-flex justify-content-center">
                                    <a class="pe-2" href="#"><i class="fab fa-facebook-f text-dark"></i></a>
                                    <a class="px-2" href="#"><i class="fab fa-twitter text-dark"></i></a>
                                    <a class="px-2" href="#"><i class="fab fa-instagram text-dark"></i></a>
                                    <a class="px-2" href="#"><i class="fab fa-linkedin-in text-dark"></i></a>
                                    <a class="px-2" href="#"><i class="fab fa-youtube text-dark"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="d-flex bg-light p-3 rounded contact-btn-link">
                            <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle p-3 ms-3" style="width: 64px; height: 64px;">
                                <i class="fas fa-map-marker-alt text-dark"></i>
                            </div>
                            <div class="ms-3 contact-link">
                                <h4 class="text-dark">Addresse</h4>
                                <a href="#">
                                    <h5 class="text-dark d-inline fs-6">Kinshasa, RDC</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="d-flex bg-light p-3 rounded contact-btn-link">
                            <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle p-3 ms-3" style="width: 64px; height: 64px;">
                                <i class="fa fa-phone text-dark"></i>
                            </div>
                            <div class="ms-3 contact-link">
                                <h4 class="text-dark">Nous contacter</h4>
                                <a class="h5 text-dark fs-6" href="tel:+0123456789">+243 991 795 930</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="d-flex bg-light p-3 rounded contact-btn-link">
                            <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle p-3 ms-3" style="width: 64px; height: 64px;">
                                <i class="fa fa-envelope text-dark"></i>
                            </div>
                            <div class="ms-3 contact-link">
                                <h4 class="text-dark">Notre Email</h4>
                                <a class="h5 text-dark fs-6" href="#">info@example.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
