{% extends 'home/base.html' %}

{% load static %}

{% block title %}Etude de sol, sous-sol, eau et environnement{% endblock %}

{% block content %}


        <!-- Page Header Start -->
        <div class="container-fluid p-0" style="background-image: url({% static 'img/img4.jpg' %}); background-size: cover; margin-bottom: 6rem;;">
            <div style="padding: 100px 5%; background-color: rgba(0, 0, 0, 0.3);">
                <h3 class="text-white mb-4 px-2 py-3 text-center animated slideInDown">Etude sols, sous-sols, eau et environnement</h3>
                <form method="post" class="wish-form">
                    {% csrf_token %}
                    <select name="who">
                        <option value="-----" disabled selected>Vous êtes</option>
                        <option value="particulier">Particulier</option>
                        <option value="entreprise">Entreprise</option>
                    </select>
                    <select name="wish">
                        <option value="-----" disabled selected>Vous voulez</option>
                        <option value="devis">Avoir un devis</option>
                        <option value="partenaire">Créer un compte partenaire</option>
                    </select>
                    <input type="text" placeholder="Localisation">
                    <button type="submit" class="bg-primary text-white">Votre solution</button>
                </form>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Blog Start -->
        <div class="container-fluid">
            <div class="container pb-5">
                <div class="overflow-hidden">
                    <h3 class="mb-4">Services rendus</h3>
                </div>
                <div class="row m-0 box">
                    <div class="col-lg-8 items text-center">
                        <div class="row m-0 detail wow fadeInUp mb-3 border bg-white p-2" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img4.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6 class="">Service d’Études géotechniques</h6>
                                <small class="m-0 py-2"><strong style="color: #265082;">STRATA CONSULT</strong> fournit à ses 
                                    clients et partenaire une gamme complète de services géotechniques spécialisés pour la planification, la 
                                    conception et la mise en œuvre de projets de constructions, génie civile et d’ingénierie des sols</small>
                            </div>
                        </div>
                        <!-- <hr class="my-2"> -->
                        <div class="row m-0 detail wow fadeInUp mb-3 border bg-white p-2" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img1.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6 class="">Service d’Études géologique et minière</h6>
                                <small class="m-0 py-2"><strong style="color: #265082;">STRATA CONSULT</strong> fournit à ses clients et partenaires une 
                                    gamme de services géologiques spécialisés pour la planification, la conception et la mise en œuvre de projets 
                                    minier</small>
                            </div>
                        </div>
                        <!-- <hr class="my-2"> -->
                        <div class="row m-0 detail wow fadeInUp mb-3 border bg-white p-2" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img3.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6 class="">Service d’eau et environnement</h6>
                                <small class="m-0 py-2"><strong style="color: #265082;">STRATA CONSULT</strong> fournit à ses clients une gamme de services dans 
                                    le domaines de l’eau et environnement pour la planification, la conception et la mise en œuvre de projets</small>
                            </div>
                        </div>
                        <!-- <hr class="my-2"> -->
                        <div class="row m-0 detail wow fadeInUp mb-3 border bg-white p-2" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img3.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6 class="">Service de cartographie numérique</h6>
                                <small class="m-0 py-2"><strong style="color: #265082;">STRATA CONSULT</strong> fournit à ses clients et partenaire une gamme de 
                                    services dans le domaines de la cartographie pour la planification, la conception et la mise en œuvre de 
                                    projets</small>
                            </div>
                        </div>
                        <!-- <hr class="my-2"> -->
                        <div class="row m-0 detail wow fadeInUp mb-3 border bg-white p-2" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img3.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6 class="">Service de location matériels géotechniques, géophysiques, geologiques,forage d’eau, topographique et 
                                    cartographique</h6>
                                <small class="m-0 py-2"><strong style="color: #265082;">STRATA CONSULT</strong> fournit à ses clients et partenaire une gamme de matériels dans le 
                                    domaines de la cartographie, géotechniques, géophysiques, forage d’eau, topographié, etc., pour l’exécution 
                                    et la mise en œuvre de projets de ses partenaires</small>
                            </div>
                        </div>
                        <!-- <hr class="my-2"> -->
                    </div>
                    <div class="col-lg-4">
                        <aside class="bg-white">
                            <form method="post">
                                <input type="text" name="immo-search" placeholder="Tapez votre recherche">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <ul class="list-group border-0">
                                <li class="list-group-item myform-btn"><a href="#" class="btn btn-primary text-white w-100">Demander un devis</a></li>
                            </ul>
                            <div class="row m-0 galery-etude-sol">
                                <div class="col-12 px-1 pt-3">
                                    <h6>Gallerie</h6>
                                </div>
                                <div class="col-4 p-0">
                                    <img src="{% static 'img/img1.jpg' %}" alt="">
                                </div>
                                <div class="col-4 p-0">
                                    <img src="{% static 'img/img2.jpg' %}" alt="">
                                </div>
                                <div class="col-4 p-0">
                                    <img src="{% static 'img/img3.jpg' %}" alt="">
                                </div>
                                <div class="col-4 p-0">
                                    <img src="{% static 'img/img4.jpg' %}" alt="">
                                </div>
                                <div class="col-4 p-0">
                                    <img src="{% static 'img/img5.jpg' %}" alt="">
                                </div>
                                <div class="col-4 p-0">
                                    <img src="{% static 'img/img6.jpg' %}" alt="">
                                </div>
                                <div class="col-4 p-0">
                                    <img src="{% static 'img/img7.jpg' %}" alt="">
                                </div>
                                <div class="col-4 p-0">
                                    <img src="{% static 'img/img8.jpg' %}" alt="">
                                </div>
                                <div class="col-4 p-0">
                                    <img src="{% static 'img/img1_.jpg' %}" alt="">
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

{% endblock %}

