{% extends 'home/base.html' %}

{% load static %}

{% block title %}Immobilier et investissement{% endblock %}

{% block content %}


        <!-- Page Header Start -->
        <div class="container-fluid p-0" style="background-image: url({% static 'img/img4.jpg' %}); background-size: cover; margin-bottom: 6rem;;">
            <div style="padding: 100px 5%; background-color: rgba(0, 0, 0, 0.3);">
                <h3 class="text-white mb-4 px-2 py-3 text-center animated slideInDown">Strata-Immo</h3>
                <form method="post" class="wish-form">
                    {% csrf_token %}
                    <select name="who">
                        <option value="-----" disabled selected>Vous êtes</option>
                        <option value="particulier">Particulier</option>
                        <option value="entreprise">Entreprise</option>
                    </select>
                    <select name="wish">
                        <option value="-----" disabled selected>Vous voulez</option>
                        <option value="devis">Avoir un devis</option>
                        <option value="partenaire">Créer un compte partenaire</option>
                    </select>
                    <input type="text" placeholder="Localisation">
                    <button type="submit" class="bg-primary text-white">Votre solution</button>
                </form>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Blog Start -->
        <div class="container-fluid">
            <div class="container pb-5">
                <div class="overflow-hidden">
                    <h3 class="mb-2">Services rendus</h3>
                </div>
                <div class="row m-0 box">
                    <div class="col-lg-8 items">
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img4.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6>Service d’Études, conception, réalisation et exécution des projets d’investissement immobiliers</h6>
                                <p class="m-0 py-2">Qui part de 
                                    l’étude de votre dossier d’investissement immobilier a l’implantation du projet sur terrain (de l’idée au projet, 
                                    et sa réalisation)</p>
                            </div>
                        </div>
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img4.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6>Service de facilitation immobilière avec une grande équipe des agents immobiliers pour la
                                    facilitation de vos transactions immobilières [achat, vente, location ] des biens immobiliers</h6>
                                <!-- <p class="m-0 py-2"></p> -->
                            </div>
                        </div>
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img4.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6>Service HOME STAGING</h6>
                                <p class="m-0 py-2">[mise en valeur des biens immobiliers]sur mesure en partenariat avec des
                                    grands architectes et ingénieurs expérimentés, permettant l’aménagement de vos biens immobiliers et leur 
                                    mise en valeur</p>
                            </div>
                        </div>
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img4.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6>Des équipes d’ingénieurs BTP, génie civil, Géotechniciens, et artisans qualifiés</h6>
                                <p class="m-0 py-2">Pour tous vos futurs 
                                    travaux du simple aménagement à la construction avec devis précis contractuels, ce qui vous permettra de 
                                    sécuriser votre investissement immobilier en toute tranquillité. Ceci accompagner d’une équipe de suivi de 
                                    vos projets de constructions</p>
                            </div>
                        </div>
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img4.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6>L’appui de juristes compétents</h6>
                                <p class="m-0 py-2">Que ce soit Notaires, Avocats de la région et professionnels de 
                                    l’Urbanisme, Géomètres ou Architectes pour la règlementation de vos titres immobiliers, car la 
                                    réglementation évolue sans cesse</p>
                            </div>
                        </div>
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img4.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6>Une équipe des experts Diagnostiqueurs Immobilier</h6>
                                <p class="m-0 py-2">Pour l’estimation des valeurs de vos biens 
                                    immobiliers</p>
                            </div>
                        </div>
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img4.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6>Un service d’Évaluation et expertise des biens immobiliers</h6>
                            </div>
                        </div>
                        <div class="row m-0 detail wow fadeInUp mb-3" data-wow-delay=".6s">
                            <div class="col-4 p-0">
                                <img src="{% static 'img/img4.jpg' %}" alt="">
                            </div>
                            <div class="col-8 content">
                                <h6>Un service de Conseils et orientations dans la transaction immobilière</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="btn-primary">
                            <ul class="list-group border-0">
                                <li class="list-group-item"><button class="btn btn-primary">Formulaire d’inscription à la base de données [de la main d’œuvre] immobiliers</button></li>
                                <li class="list-group-item"><button class="btn btn-primary">Formulaire de soumission d’une demande d’un service immobilier</button></li>
                                <li class="list-group-item"><button class="btn btn-primary">Formulaire de soumission d’une formation [uniquement pour le formateur]</button></li>
                                <li class="list-group-item"><button class="btn btn-primary">Espace de formation des candidats</button></li>
                                <li class="list-group-item"><button class="btn btn-primary">Tableau de bord du candidat pour le suivi de son dossier d’emploi, de formation et d’opportunités</button></li>
                                <li class="list-group-item"><button class="btn btn-primary">Bouton d’accès a notre site d’exposition des biens immobiliers</button></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

{% endblock %}
