{% extends 'home/base.html' %}

{% load static %}

{% block title %}Strata Consult{% endblock %}

{% block content %}

        <!-- Carousel Start -->
        <div class="hero-section container-fluid carousel px-0 position-relative">
            
            <div class="hero-content">
                <div class="row m-0 h-100 align-items-between">
                    <div class="col-12"></div>
                    <div class="col-12 mb-3 mx-auto">
                        <div class="search mb-2">
                            <form method="post" class="d-flex">
                                {% csrf_token %}
                                <input type="text" placeholder="Recherche d'offre">
                                <button tupe="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- <video style="display: block; width: 100%; margin: 0px auto;" autoplay muted loop>
                            <source src="{% static 'img/strata_front.mp4' %}">
                        </video> -->
                    </div>
                    <div class="col-12 mb-3 mx-auto">
                        <div class="row align-items-end h-100">
                            <div class="col-12">
                                <div class="d-flex secteurs">
                                    <a href="{% url 'home:etude_sol' %}" class="d-flex flex-column align-items-center text-center item">
                                        <i class="fa fa-user"></i>
                                        <h5 class="m-0">Geo-Strata</h5>
                                    </a>
                                    <a href="{% url 'home:emploi' %}" class="d-flex flex-column align-items-center text-center item">
                                        <i class="fa fa-user"></i>
                                        <h5 class="m-0">Strata-Emploi</h5>
                                    </a>
                                    <a href="{% url 'home:formation' %}" class="d-flex flex-column align-items-center text-center item d-none d-md-block">
                                        <i class="fa fa-user"></i>
                                        <h5 class="m-0">Strata-Formations</h5>
                                    </a>
                                    <a href="{% url 'home:appel' %}" class="d-flex flex-column align-items-center text-center item d-none d-md-block">
                                        <i class="fa fa-user"></i>
                                        <h5 class="m-0">Strata-RH</h5>
                                    </a>
                                    <a href="{% url 'home:immobilier' %}" class="d-flex flex-column align-items-center text-center item d-none d-lg-block">
                                        <i class="fa fa-user"></i>
                                        <h5 class="m-0">Strata-Immo</h5>
                                    </a>
                                    <a href="{% url 'home:achat' %}" class="d-flex flex-column align-items-center text-center item d-none">
                                        <i class="fa fa-user"></i>
                                        <h5 class="m-0">Strata-Services</h5>
                                    </a>
                                    <a href="#i" class="d-flex flex-column align-items-center text-center item d-none">
                                        <i class="fa fa-user"></i>
                                        <h5 class="m-0">Strata-Entrepreneur</h5>
                                    </a>

                                    <button class="d-flex flex-column align-items-center text-center item item-button position-relative" style="background: transparent; border: none; outline: none;">
                                        <i class="fa fa-user"></i>
                                        <div class="sub-secteurs sub-hide">
                                            <ul class="list-group"> 
                                                <li class="list-group-item d-md-none" style="min-width: 300px;">
                                                    <a href="#i" class="d-flex align-items-center text-center">
                                                        <i class="fa fa-user" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 5px;"></i>
                                                        <span>Strata-Formation</span>
                                                    </a>
                                                </li>
                                                <li class="list-group-item d-md-none" style="min-width: 300px;">
                                                    <a href="#i" class="d-flex align-items-center text-center">
                                                        <i class="fa fa-user" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 5px;"></i>
                                                        <span>Strata-RH</span>
                                                    </a>
                                                </li>
                                                <li class="list-group-item d-lg-none" style="min-width: 300px;">
                                                    <a href="#i" class="d-flex align-items-center text-center">
                                                        <i class="fa fa-user" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 5px;;"></i>
                                                        <span>Strata-Immo</span>
                                                    </a>
                                                </li>
                                                <li class="list-group-item" style="min-width: 300px;">
                                                    <a href="#i" class="d-flex align-items-center text-center">
                                                        <i class="fa fa-user" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 5px;;"></i>
                                                        <span>Strata-Services</span>
                                                    </a>
                                                </li>
                                                <li class="list-group-item" style="min-width: 300px;">
                                                    <a href="#i" class="d-flex align-items-center text-center">
                                                        <i class="fa fa-user" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 5px;;"></i>
                                                        <span>Strata-Entrepreneur</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-blur"></div>
            </div>

            <div id="carouselId" class="carousel slide h-100" data-bs-ride="carousel">
                <div class="carousel-inner h-100" role="listbox">
                    <div class="carousel-item active h-100">
                    <video style="display: block; width: 100%;" autoplay muted loop>
                        <source src="{% static 'img/strata_fond.MP4' %}">
                    </video>
                    </div>
                </div>
            </div>

        </div>
        <!-- Carousel End -->

        <!-- Content Start -->
        <div class="container-fluid pt-5">
            <div class="container py-5">
                <div class="about-item overflow-hidden text-center">
                    <h2 class="mb-5">Nos secteurs d'activités</h2>
                </div>
                <div class="row m-0">
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <img src="{% static 'img/img4.jpg' %}" class="rounded-top" alt="">
                         <div class="rounded-bottom bg-light">
                            <div class="px-4 pb-0 py-2">
                                <h6>Etude de sols/sous-sol, eau et environnement</h6>
                            </div>
                            <hr>
                            <div class="p-4 py-2 text-center blog-btn">
                                <a href="{% url 'home:etude_sol' %}" type="button" class="text-dark">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <img src="{% static 'img/img6.jpg' %}" class="rounded-top" alt="">
                         <div class="rounded-bottom bg-light">
                            <div class="px-4 pb-0 pt-2">
                                <h6>Ressources Humaines, emploi et opportunités</h6>
                            </div>
                            <hr>
                            <div class="p-4 py-2 text-center blog-btn">
                                <a href="{% url 'home:emploi' %}" type="button" class="text-dark">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <img src="{% static 'img/img1.jpg' %}" class="rounded-top" alt="">
                         <div class="rounded-bottom bg-light">
                            <div class="px-4 pb-0 pt-2">
                                <h6>Investissement et Business Immobilier</h6>
                            </div>
                            <hr>
                            <div class="p-4 py-2 text-center blog-btn">
                                <a href="{% url 'home:immobilier' %}" type="button" class="text-dark">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <img src="{% static 'img/img7.jpg' %}" class="rounded-top" alt="">
                         <div class="rounded-bottom bg-light">
                            <div class="px-4 pb-0 pt-2">
                                <h6>Facilitation d’achat national et international</h6>
                            </div>
                            <hr>
                            <div class="p-4 py-2 text-center blog-btn">
                                <a href="{% url 'home:achat' %}" type="button" class="text-dark">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <img src="{% static 'img/img2.jpg' %}" class="rounded-top" alt="">
                         <div class="rounded-bottom bg-light">
                            <div class="px-4 pb-0 pt-2">
                                <h6>Partenariat et affiliation</h6>
                            </div>
                            <hr>
                            <div class="p-4 py-2 text-center blog-btn">
                                <a href="#" type="button" class="text-dark">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 blog-item wow fadeInUp" data-wow-delay=".6s">
                        <img src="{% static 'img/img8.jpg' %}" class="rounded-top" alt="">
                         <div class="rounded-bottom bg-light">
                            <div class="px-4 pb-0 pt-2">
                                <h6>Formation et Renforcement de capacite</h6>
                            </div>
                            <hr>
                            <div class="p-4 py-2 text-center blog-btn">
                                <a href="{% url 'home:formation' %}" type="button" class="text-dark">Découvrir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content End -->

{% endblock %}
