{% extends 'home/base.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

        {% if user.is_authenticated %}
        <!-- Blog Start -->
        <div class="container-fluid p-0 dash h-100">
            <div class="row m-0 h-100">
                <div class="col-md-3 menu h-100">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#" class="active">Profile</a></li>
                        <li class="list-group-item"><a href="{% url 'accounts:commandes' %}">Mes commandes</a></li>
                        <li class="list-group-item"><a href="{% url 'accounts:formations' %}">Mes formations</a></li>
                        <li class="list-group-item"><a href="#">Offres d'emplois</a></li>
                        <li class="list-group-item"><a href="#">Affiliation</a></li>
                        <li class="list-group-item"><a href="#">Partenariat</a></li>
                        <li class="list-group-item"><a href="#">Paramètres</a></li>
                    </ul>
                </div>
                <div class="col-md-9 content">
                    {% block profile %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- Blog End -->
        {% else %}
        <h1 class="text-center p-5">Veillez vous connecter pour acceder à cette page</h1>
        {% endif %}

{% endblock %}
