{% extends 'accounts/base_profile.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block profile %}

                    <div class="container pb-5">
                        <div class="overflow-hidden">
                            <h5 class="mb-4">Informations du profile</h5>
                        </div>
                        <div class="row m-0 box">
                            <div class="col-12 items">
                                <table>
                                    <tr>
                                        <td class="pb-3">Identifiant</td>
                                        <td class="pb-3">&nbsp;&nbsp;&nbsp;&nbsp; {{request.user.username}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-3">Nom complet</td>
                                        <td class="pb-3">&nbsp;&nbsp;&nbsp;&nbsp; {{request.user.full_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-3">Genre</td>
                                        <td class="pb-3">&nbsp;&nbsp;&nbsp;&nbsp; {{request.user.gender}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-3">Date de naissance</td>
                                        <td class="pb-3">&nbsp;&nbsp;&nbsp;&nbsp; {{request.user.birthday}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-3">Téléphone</td>
                                        <td class="pb-3">&nbsp;&nbsp;&nbsp;&nbsp; {{request.user.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-3">Email</td>
                                        <td class="pb-3">&nbsp;&nbsp;&nbsp;&nbsp; {{request.user.email}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

{% endblock %}
