{% extends 'back/base.html' %}

{% load static %}

{% block title %}Administration{% endblock %}

{% block admin %}

                    <div class="container pb-5">
                        <div class="overflow-hidden">
                            <h3 class="mb-4">Tableau de bord</h3>
                        </div>
                        <div class="row m-0 box">
                            <div class="col-md-6 col-lg-4 mb-2">
                                <div class="text-center bg-primary rounded p-3">
                                    <h5 class="text-white">Utilisateurs</h5>
                                    <h2 class="text-white">{{users}}</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-2">
                                <div class="text-center bg-danger rounded p-3">
                                    <h5 class="text-white">Formations</h5>
                                    <h2 class="text-white">{{formations}}</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-2">
                                <div class="text-center bg-warning rounded p-3">
                                    <h5 class="text-white">Commandes</h5>
                                    <h2 class="text-white">{{commandes}}</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-2">
                                <div class="text-center bg-info rounded p-3">
                                    <h5 class="text-white">Offres d'emploi</h5>
                                    <h2 class="text-white">{{emplois}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}
